@import url("https://fonts.googleapis.com/css?family=Bangers");
@import "tailwindcss";
body,
html {
  background: linear-gradient(#3490dc, #2779bd);
  overflow-x: hidden;
}

.sand {
  background-color: #ece2c6;
  background-image: url("/felt.png");
  background-repeat: repeat;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
  color: white;
}

h1 {
  text-shadow: -3px 3px 0 black;
  -webkit-text-stroke: 1px #333333;
}
h2,
h3,
h4 {
  text-shadow: -2px 2px 0 black;
  -webkit-text-stroke: 0.5px #333333;
}

.blue {
  background: linear-gradient(#3490dc, #2779bd);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

.sway {
  animation: sway 5s ease-in-out infinite;
  transform-origin: bottom;
}

.sway-slow {
  animation: sway 7s ease-in-out infinite;
}

.sway-fast {
  animation: sway 3s ease-in-out infinite;
}

.sway-delayed {
  animation-delay: 0.7s;
}

@keyframes shimmer {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.3);
  }
}

.sand-shimmer {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 40% 60%,
    rgba(255, 245, 255, 0.8),
    transparent 70%
  );
  background-size: 100% 100%;
  animation: shimmer 5s ease-in-out infinite;
  transform-origin: center;
  pointer-events: none;
  z-index: 10;
}

@keyframes waveSlow {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  } /* adjust for how much wave you want to slide in */
}

.animate-waveSlow {
  animation: waveSlow 20s linear infinite;
}

@keyframes bubbleRise {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-350px);
    opacity: 0;
  }
}

@keyframes bubblesSway {
  0%,
  50%,
  100% {
    transform: translateX(-20px) translateY(0);
  }
  25%,
  75% {
    transform: translateX(20px);
  }
}

.bubble {
  z-index: 5;
  background: rgba(255, 255, 255, 0);
  border-color: transparent;
  border-width: 2px;
  border-radius: 9999px;
  animation: bubbleRise 7s ease-in-out infinite;
}

.bubble-sway {
  position: absolute;
  animation: bubblesSway 5s ease-in-out infinite;
}
